In [1]:
import pandas as pd
import numpy as np

In [10]:
PATH_ROS = '/home/gordon_local/local_workplace/blobStore/driver_timesheets/roster_processed.xlsx'

df = pd.read_excel(PATH_ROS)
# check name input mistake issues
df['Primary_driver_Name'] = df.Primary_driver_Name.str.lower()
df['Primary_route'] = df.Primary_route.str.lower()
df.head(1)

,Date,Run_type,Primary_employeeID,Secondary_employeeID,Primary_driver_Name,Secondary_Driver_Name,Primary_route,Satellite_Route_1,Satellite_Route_2,Primary_truck,Alternative_Truck,Subcontracted_From/Special_Client
0,2021-04-13,NIGHT RUNS,swaklado,NaN,adonis akl,NaN,rle,NaN,NaN,CL 98 LU,NaN,NaN

In [18]:
# df.groupby('Primary_driver_Name')['Primary_route'].count()
# df.groupby('Primary_route')['Primary_route'].count()
emID_total = df.groupby('Primary_employeeID')['Primary_employeeID'].count()
# index => key   / emID_total_runs => series frame
emID_total_runs.loc['ir20']

5

In [23]:
emID_routeID_total = df.groupby(['Primary_employeeID', pd.Grouper('Primary_route')])['Run_type'].count()
# emID_routeID_total.index
# access to muti index
# emID_routeID_total.ir02.rl5

emID_routeID_total

Primary_employeeID  Primary_route
ir02                br1              2
                    rl5              1
                    rld              2
ir12                rlj              5
ir20                rl9              5
irdeaz              rl7              6
subcon1             red              3
                    rl9              1
                    rlc              2
swaklado            rle              5
swbaichr            br1              4
                    flg              2
swbranat            rlk              1
                    uos              3
                    uos camden       1
                    uos cb           1
swburlei            rlh              5
swdinvie            red              2
                    rlj              1
                    rlr              5
swdoalb             rl2              5
swedwben            swg              5
swfiejih            rl6              4
swhewg              hyg              5
swjusjoh            niwpr2           5
                    rl2              1
swkuma              rl9              1
swlip               rli              6
swliqi              niwpr1           5
swlocbra            flg              2
swmittai            br3              6
swmoylou            rl5              4
                    swg              1
swnevpj             br1              1
                    br2              5
swrigda             flg              2
                    hook             2
                    rlk              2
swrobgar            rl1              3
swshekev            rl8              5
swsinvic            rld              4
swtaujul            fl2              5
swtubjoh            doy              3
                    rl1              2
                    rl1/doy          1
swtupfek            rl4              6
swwarrob            camp             1
                    uni              1
                    uos              4
swwhinei            rlp              5
Name: Run_type, dtype: int64