In [1]:
import pandas as pd 
import numpy as np

In [4]:
data_left = {'key' : ['1','2','3','4','5'], 'value' : ['a','b','c','d','e'] }
df_left = pd.DataFrame(data_left)
data_right = {'key' : ['1','2','3','4'], 'value' : ['a','b','c','d'] }
df_right = pd.DataFrame(data_right)

In [14]:
# left_on=['key'], right_on=['key']
pd.merge(df_left, df_right, on=['key'], how='left', indicator=True, suffixes=("_a", "_B"))

  key value_a value_B     _merge
0   1       a       a       both
1   2       b       b       both
2   3       c       c       both
3   4       d       d       both
4   5       e     NaN  left_only